.topBlur {
  position: relative;
}

.topBlur::before {
  content: "";
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  height: 80px;
  background: linear-gradient(transparent, white);
  pointer-events: none;
}

/* Dark mode support */
:global(.dark) .topBlur::before {
  /* background: linear-gradient(transparent, hsl(var(--background))); */
  background: linear-gradient(0deg, #0a0a0a, transparent);
}
